.wrapper {
  /* border-bottom: 1px;
    border-bottom-style: solid;
    border-color:#ffdcdd; */
    height: 700px;
    width: 95%;
    padding-top: 75px;
    padding-bottom: 0px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
  }