#login {
    cursor: pointer;
    font-family: 'Homemade Apple';
    color:  #bca0bc;
}

#modal{
    height: 250px;
    width: 250px;
    background-color:#eaeaea
}

#modal-content{
    background-color: #eaeaea
}

#header{
    color: #002626;
    text-align: center;
    background-color: #ffdcdd;
}

#login-modal{
background-color: #bca0bc;
/* color: #bca0bc */
}

#signup{
 background-color: #ffdcdd;
 /* color: #ffdcdd */
}