.results {
    width: 100px;
    height: 90px;
}

#cards {
    padding-right: 2px;
    padding-left: 2px;
    margin-top: 5px;
    margin-bottom: 5px;
    height: 400px;
    width: 200px;
    float: left;
}

#label {
    background-color: #ffdcdd;
}

#each-card {
    color: #ffdcdd;
}

