@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');

.navbar {
    background-color: #ffdcdd;
    margin-bottom: 0;
    height: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin:0;
  }

  li {
      float: left;
      margin-top: 5px;
      color: white;
  }

br {
    height: 1px;
    margin: 0;
}

.nav-header {
    font-size: 20px;
    color: #bca0bc;
    padding-top:5px;
    margin-left:5px;
    font-family: 'Homemade Apple';
}


.title {
    margin-right: 500px;
}

